version: 2.1

orbs:
  android: circleci/android@2.0.3

jobs:
  openjdk-upgrade:
    executor:
      name: android/android-machine
      tag: 2022.04.1
      resource-class: medium
     
    steps:
      # should say OpenJDK 11, according to
      # https://discuss.circleci.com/t/android-images-april-2022-update/43597
      - run: java -version
      - run:
          name: Upgrade to Java 15
          command: |
            sudo add-apt-repository -y ppa:openjdk-r/ppa
            sudo apt-get update
            sudo apt-get install -y openjdk-15-jre openjdk-15-jdk
      - run: java -version            

workflows:
  main:
    jobs:
      - openjdk-upgrade
