version: 2.1

orbs:
  android: circleci/android@2.1.0
  old-android: circleci/android@1.0.3

jobs:
  machines:
    parameters:
      img:
        type: string
    machine:
      image: << parameters.img >>
    steps:
      - checkout
      - old-android/restore-gradle-cache
      - android/restore-gradle-cache
    

workflows:
  main:
    jobs:
      - machines:
          matrix:
            parameters:
              img:
                # See https://circleci.com/developer/machine/image/android
                # Looks like android:2022.06 is not available yet?
                # would need to confirm this https://discuss.circleci.com/t/android-images-june-2022-update/44451
                # - android:2022.06
                - android:2022.06.1
#                 - android:2022.04.1
#                 - android:2022.01.1
                - android:202102-01
