version: 2.1

orbs:
  android: circleci/android@2.0.3

jobs:
  mock-build-and-test:
    machine:
      # Ubuntu 20.04, same as GHA's ubuntu-latest
      # See https://github.com/actions/virtual-environments#available-environments
      image: ubuntu-2004:2022.04.1
    resource_class: medium
    steps:
      - checkout
      - run: |
          git submodule update --init
      - run:
          name: Install Temurin Java 11
          command: |
            # See https://blog.adoptium.net/2021/12/eclipse-temurin-linux-installers-available/
            apt-get install -y wget apt-transport-https gnupg
            wget -O - https://packages.adoptium.net/artifactory/api/gpg/key/public | apt-key add -
            echo "deb https://packages.adoptium.net/artifactory/deb $(awk -F= '/^VERSION_CODENAME/{print$2}' /etc/os-release) main" | tee /etc/apt/sources.list.d/adoptium.list
            apt-get update
            apt-get install temurin-11-jdk

      - run: |
          java -version
          
  openjdk-upgrade:
    executor:
      name: android/android-machine
      tag: 2022.04.1
      resource-class: medium
     
    steps:
      # should say OpenJDK 11, according to
      # https://discuss.circleci.com/t/android-images-april-2022-update/43597
      - run: java -version
      - run:
          name: Upgrade to Java 15
          command: |
            sudo add-apt-repository -y ppa:openjdk-r/ppa
            sudo apt-get update
            sudo apt-get install -y openjdk-15-jre openjdk-15-jdk
      - run: java -version            

workflows:
  main:
    jobs:
      - mock-build-and-test
#       - openjdk-upgrade
